/*Numberd List----------------------------------------*/
.num-list{ width:100%; }
.num-list ol { 
    font-style:italic; 
    font-family: 'Raleway', sans-serif; 
    font-size:24px; color:#000000;  
    font-weight: 600;  
}
.num-list ol li { }
.num-list ol li p { 
    padding:8px;     
    line-height: 1.73333333;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;     
    border-left: 2px solid #D9A111; 
    color: #222533;
}
/*.num-list ol li p em { display:block; }*/


/*Numberd List----------------------------------------*/



.side-list{ width:100%; padding: 0px; }
.side-list ul { 
    font-style:italic; 
    font-family: 'Raleway', sans-serif; 
    font-size:24px; color:#000000;  
    font-weight: 600;  
}
.side-list ul li {list-style-type: none; }
.side-list ul li p { 
    padding:8px;  
    line-height: 1.73333333;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;     
    border-left: 2px solid #D9A111; 
    color: #222533;
}

.side-list ul li p a{
    color: #222533;
}

.side-list ul li p a:hover{
    color: #D9A111; 
}



/*Porto List----------------------------------------*/
.port-thumb {
  position: relative;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 0px;
  border-radius: 0px;
  padding: 0px;
}
.port-thumb .port-caption {
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.port-thumb .port-caption h3 + .wrap {
  margin-top: 5px;
}
.port-thumb .port-caption .wrap:before,
.port-thumb .port-caption .wrap:after {
  content: " ";
  display: table;
}
.port-thumb .port-caption .wrap:after {
  clear: both;
}
.port-thumb .port-caption .wrap:before,
.port-thumb .port-caption .wrap:after {
  content: " ";
  display: table;
}
.port-thumb .port-caption .wrap:after {
  clear: both;
}
.port-thumb .port-caption .wrap:before,
.port-thumb .port-caption .wrap:after {
  content: " ";
  display: table;
}
.port-thumb .port-caption .wrap:after {
  clear: both;
}
.port-thumb .port-caption .wrap:before,
.port-thumb .port-caption .wrap:after {
  content: " ";
  display: table;
}
.port-thumb .port-caption .wrap:after {
  clear: both;
}
.port-thumb .port-caption .wrap p {
  float: left;
  width: 90%;
}
.port-thumb .port-caption .wrap a {
  float: right;
  margin-top: 8px;
}
.port-thumb .port-caption .wrap .thumb_ins1 {
  width: 50%;
}
@media (max-width: 1199px) {
  .port-thumb h3 {
    font-size: 25px;
  }
  .port-thumb .port-caption {
    padding-right: 17px;
    padding-left: 20px;
  }
  .port-thumb .port-caption .wrap p,
  .port-thumb .port-caption .wrap .thumb_ins1 {
    font-size: 13px;
    width: 94%;
  }
  .port-thumb .btn-link:before {
    font-size: 36px;
    line-height: 40px;
  }
}
@media (max-width: 991px) {
  .port-thumb {
    display: inline-block;
    max-width: 100%;
  }
  .port-thumb .port-caption * {
    text-align: left;
  }
}
@media (max-width: 400px) {
  .port-thumb .port-caption {
    position: static;
  }
}

.thumb-shadow:hover {
  box-shadow: 9px 13px 26px -8px #222533;
}

.port-cap-hover {
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.port-cap-hover:hover {
  background: rgba(34, 37, 51, 0.8);
}
.port-cap-hover:hover * {
  color: #ffffff;
}
.port-cap-hover:hover .btn-link {
  color: #ffffff;
}
/*Porto List----------------------------------------*/

/*Inline Bar List----------------------------------------*/
.bar-list-container{
    padding: 0px;
}

.bar-list{
    padding: 0px;
}

.bar-list li {
  padding: 0px; 
  color: #ffffff;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
/*Inline Bar List----------------------------------------*/


/*News List----------------------------------------*/
/*
.news-list{
    padding: 0px;
}

.news-list li {
  position: relative;
  padding-top: 25px;
  padding-left: 100px;
  width: 32%;
}
*/
.news-icon-box{
  width: 40px;
  height: 40px;
  background: #D9A111;
  line-height: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 800;
}

.ico-container{
    padding-top: 20px;
}

.post-icon-box{
  width: 100%;
  height: 100px;
/*  background: #D9A111;*/
  line-height: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 800;
  padding: 20px;
}

.event-icon-box{
  width: 100%;
  height: 100px;
  line-height: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 800;
  padding: 20px;
}

.event-icon{
    color: #222533;
}

.post-title-box{
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 800;
  padding: 0px 20px;
  border-left: 5px solid #D9A111;
/*  height: 150px;*/
}

.post-title-box-inner{
    
}

.post-desc{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: normal;
    word-break: normal;
}

.post-icon{
    color: #D9A111;
}

.news-title{
    cursor: pointer;
}


@media (min-width:260px){
    .news-list li {
      position: relative;
      padding-top: 25px;
      padding-left: 25px;
      width: 100%;
    }
    .news-title{
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        margin: 0;
        text-transform: uppercase;
        color: #222533;
    }
    
    .post-title-box{
      width: 100%;
      font-family: 'Raleway', sans-serif;
      font-size: 15px;
      font-weight: 800;
      padding: 0px 20px;
      border-left: 5px solid #D9A111;
/*      height: 250px;*/
    }

}

@media (min-width:480px){
    .news-list li {
      position: relative;
      padding-top: 25px;
      padding-left: 25px;
      width: 40%;        
    }
    
    .news-title{        
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        margin: 0;
        text-transform: uppercase;
        color: #222533;
    }
    
    .post-title-box{
      width: 100%;
      font-family: 'Raleway', sans-serif;
      font-size: 15px;
      font-weight: 800;
      padding: 0px 20px;
      border-left: 5px solid #D9A111;      
    }

}

@media (min-width:991px){
    .post-title-box{
      width: 100%;
      font-family: 'Raleway', sans-serif;
      font-size: 15px;
      font-weight: 800;
      padding: 0px 20px;
      border-left: 5px solid #D9A111; 
        height: 200px;
    }
}

@media (min-width:1200px){
    .news-list li {
      position: relative;
      padding-top: 25px;
      padding-left: 25px;
      width: 32%;        
    }
    
    .news-title{        
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        margin: 0;
        text-transform: uppercase;
        color: #222533;
    }  
    
    .post-title-box{
      width: 100%;
      font-family: 'Raleway', sans-serif;
      font-size: 15px;
      font-weight: 800;
      padding: 0px 20px;
      border-left: 5px solid #D9A111; 
        height: 125px;
    }
}
/*News List----------------------------------------*/










